In [2]:
import numpy as np

In [4]:
v = [0.5, 0.75, 1., 1.5, 2.]
v

[0.5, 0.75, 1.0, 1.5, 2.0]

In [6]:
# Populate any dimension of array wanted with other arrays
m = [v,v,v]
m

[[0.5, 0.75, 1.0, 1.5, 2.0],
 [0.5, 0.75, 1.0, 1.5, 2.0],
 [0.5, 0.75, 1.0, 1.5, 2.0]]

In [7]:
# Row
m[1]

[0.5, 0.75, 1.0, 1.5, 2.0]

In [8]:
m[1][1]

0.75

In [9]:
# but this is very very very limited - try selecting a column! so enter numpy
import numpy as np
a = np.array([0, 0.5, 1., 1.5, 2.])
a

array([0. , 0.5, 1. , 1.5, 2. ])

In [10]:
type(a)

numpy.ndarray

In [11]:
a = np.array(['A', 'B', 'C'])
a

array(['A', 'B', 'C'], dtype='<U1')

In [13]:
# start inclusive, end exclusive, skip #
a = np.arange(2, 20, 1.5)
a

array([ 2. ,  3.5,  5. ,  6.5,  8. ,  9.5, 11. , 12.5, 14. , 15.5, 17. ,
       18.5])

In [14]:
a = np.arange(2, 30, 2, dtype=np.float)
a

array([ 2.,  4.,  6.,  8., 10., 12., 14., 16., 18., 20., 22., 24., 26.,
       28.])

In [24]:
# Slice: member 5 (exclusive) to end (inclusive)
a[5:]

array([12., 14., 16., 18., 20., 22., 24., 26., 28.])

In [27]:
# Slice: Member 0 (inclusive) to end (exclusive)
a[:5]

array([ 2.,  4.,  6.,  8., 10.])

In [28]:
a.sum()

210.0

In [29]:
a.std()

8.06225774829855

In [30]:
a.cumsum()

array([  2.,   6.,  12.,  20.,  30.,  42.,  56.,  72.,  90., 110., 132.,
       156., 182., 210.])

In [31]:
l = [0., 0.5, 1.5, 3., 5.]
# add a copy of array to end of array - not what you would think!
2 * l

[0.0, 0.5, 1.5, 3.0, 5.0, 0.0, 0.5, 1.5, 3.0, 5.0]

In [32]:
# element wise math op
a**2

array([  4.,  16.,  36.,  64., 100., 144., 196., 256., 324., 400., 484.,
       576., 676., 784.])

In [33]:
a ** a

array([4.00000000e+00, 2.56000000e+02, 4.66560000e+04, 1.67772160e+07,
       1.00000000e+10, 8.91610045e+12, 1.11120068e+16, 1.84467441e+19,
       3.93464081e+22, 1.04857600e+26, 3.41427877e+29, 1.33373578e+33,
       6.15611958e+36, 3.31455231e+40])

In [34]:
# element-wise exponential function
np.exp(a)

array([7.38905610e+00, 5.45981500e+01, 4.03428793e+02, 2.98095799e+03,
       2.20264658e+04, 1.62754791e+05, 1.20260428e+06, 8.88611052e+06,
       6.56599691e+07, 4.85165195e+08, 3.58491285e+09, 2.64891221e+10,
       1.95729609e+11, 1.44625706e+12])

In [35]:
# element-wise square root
np.sqrt(a)

array([1.41421356, 2.        , 2.44948974, 2.82842712, 3.16227766,
       3.46410162, 3.74165739, 4.        , 4.24264069, 4.47213595,
       4.69041576, 4.89897949, 5.09901951, 5.29150262])

In [36]:
b = np.array([a, a*2])
b

array([[ 2.,  4.,  6.,  8., 10., 12., 14., 16., 18., 20., 22., 24., 26.,
        28.],
       [ 4.,  8., 12., 16., 20., 24., 28., 32., 36., 40., 44., 48., 52.,
        56.]])

In [37]:
# row select
b[0]

array([ 2.,  4.,  6.,  8., 10., 12., 14., 16., 18., 20., 22., 24., 26.,
       28.])

In [38]:
b[0, 2] # Row one, column 3

6.0

In [39]:
# select the first column of every row
b[:, 1]

array([4., 8.])

In [40]:
# select the second row of every column
b[1, :]

array([ 4.,  8., 12., 16., 20., 24., 28., 32., 36., 40., 44., 48., 52.,
       56.])

In [27]:
b.sum()

630.0

In [41]:
b.sum(axis=0) # Sum elements in the columns

array([ 6., 12., 18., 24., 30., 36., 42., 48., 54., 60., 66., 72., 78.,
       84.])

In [42]:
b.sum(axis=1) # Sum elements in the rows

array([210., 420.])

In [44]:
c = np.zeros((2,3), dtype='i', order='C') # 2 rows, 3 columns
c

array([[0, 0, 0],
       [0, 0, 0]], dtype=int32)

In [45]:
c = np.ones((2,3,4), dtype='i', order='C') # 2 3R x 4C structures
c

array([[[1, 1, 1, 1],
        [1, 1, 1, 1],
        [1, 1, 1, 1]],

       [[1, 1, 1, 1],
        [1, 1, 1, 1],
        [1, 1, 1, 1]]], dtype=int32)

In [48]:
e = np.empty((2,3,2))
e

array([[[ 2. ,  3.5],
        [ 5. ,  6.5],
        [ 8. ,  9.5]],

       [[11. , 12.5],
        [14. , 15.5],
        [17. , 18.5]]])

In [49]:
f = np.empty_like(c)
f

array([[[         0, 1073741824,          0, 1074528256],
        [         0, 1075052544,          0, 1075445760],
        [         0, 1075838976,          0, 1076035584]],

       [[         0, 1076232192,          0, 1076428800],
        [         0, 1076625408,          0, 1076822016],
        [         0, 1076953088,          0, 1077051392]]], dtype=int32)

In [50]:
# Identity Matrix
np.eye(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [52]:
# evenly spaced n (3rd argument) elements between x (1st argument) and y (2nd argument)
g = np.linspace(5, 15, 12)
g.reshape(3, 4) # Reshape to 3 rows, 4 columns

array([[ 5.        ,  5.90909091,  6.81818182,  7.72727273],
       [ 8.63636364,  9.54545455, 10.45454545, 11.36363636],
       [12.27272727, 13.18181818, 14.09090909, 15.        ]])

In [53]:
# metadata are stored as props, not methods
g.size # num elements in numpy array

12

In [54]:
g.itemsize

8

In [55]:
g.ndim # num array dimensions

1

In [56]:
g.dtype # numpy internal datatype

dtype('float64')

In [57]:
g.nbytes # size in bytes

96

In [58]:
'''
reshaping vs. resizing
---------
Reshaping provides a VIEW on the underlying data - it has to add up to same number of elements 
Resizing creates a new np.array (though it is temp)
''' 
g.reshape((4, 3))

array([[ 5.        ,  5.90909091,  6.81818182],
       [ 7.72727273,  8.63636364,  9.54545455],
       [10.45454545, 11.36363636, 12.27272727],
       [13.18181818, 14.09090909, 15.        ]])

In [43]:
g.reshape((3, 4))

array([[ 5.        ,  5.90909091,  6.81818182,  7.72727273],
       [ 8.63636364,  9.54545455, 10.45454545, 11.36363636],
       [12.27272727, 13.18181818, 14.09090909, 15.        ]])

In [60]:
h = g.reshape((6, 2))
h

array([[ 5.        ,  5.90909091],
       [ 6.81818182,  7.72727273],
       [ 8.63636364,  9.54545455],
       [10.45454545, 11.36363636],
       [12.27272727, 13.18181818],
       [14.09090909, 15.        ]])

In [61]:
h.T # transpose
h.transpose() # same

array([[ 5.        ,  6.81818182,  8.63636364, 10.45454545, 12.27272727,
        14.09090909],
       [ 5.90909091,  7.72727273,  9.54545455, 11.36363636, 13.18181818,
        15.        ]])

In [62]:
h.dot(h.T)

array([[ 59.91735537,  79.75206612,  99.58677686, 119.4214876 ,
        139.25619835, 159.09090909],
       [ 79.75206612, 106.19834711, 132.6446281 , 159.09090909,
        185.53719008, 211.98347107],
       [ 99.58677686, 132.6446281 , 165.70247934, 198.76033058,
        231.81818182, 264.87603306],
       [119.4214876 , 159.09090909, 198.76033058, 238.42975207,
        278.09917355, 317.76859504],
       [139.25619835, 185.53719008, 231.81818182, 278.09917355,
        324.38016529, 370.66115702],
       [159.09090909, 211.98347107, 264.87603306, 317.76859504,
        370.66115702, 423.55371901]])

In [4]:
g1 = np.linspace(1, 10, 10)
g2 = g1.reshape((2,5))
g2

array([[ 1.,  2.,  3.,  4.,  5.],
       [ 6.,  7.,  8.,  9., 10.]])

In [5]:
np.resize(g2, (3,1)) # resize first arg to RC shape tuple second arg

array([[1.],
       [2.],
       [3.]])

In [6]:
np.resize(g2, (1,5))

array([[1., 2., 3., 4., 5.]])

# Stacking
* Stack array 1 and 2 either by adding additional rows to container the operation **vstack** (R, C) = (2R, C) or by adding columns to contain the operation **hstack** (R, C) = (R, 2C)

In [21]:
g2

array([[ 1.,  2.,  3.,  4.,  5.],
       [ 6.,  7.,  8.,  9., 10.]])

In [22]:
g2.shape

(2, 5)

In [16]:
# stacking lets you stack multiple ndarrays horizontally or vertically
vstack = np.vstack((g2, g2 *2))
vstack

array([[ 1.,  2.,  3.,  4.,  5.],
       [ 6.,  7.,  8.,  9., 10.],
       [ 2.,  4.,  6.,  8., 10.],
       [12., 14., 16., 18., 20.]])

In [17]:
vstack.shape

(4, 5)

In [19]:
hstack = np.hstack((g2, g2 * 2))
hstack

array([[ 1.,  2.,  3.,  4.,  5.,  2.,  4.,  6.,  8., 10.],
       [ 6.,  7.,  8.,  9., 10., 12., 14., 16., 18., 20.]])

In [20]:
hstack.shape

(2, 10)

In [51]:
# the opposite of this is flattening arrays either column wise or row wise
g2.flatten(order='C')

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.])

In [52]:
g2.flatten(order='F')

array([ 1.,  6.,  2.,  7.,  3.,  8.,  4.,  9.,  5., 10.])

In [53]:
# generate boolean expression over array
g2 % 3 == 0

array([[False, False,  True, False, False],
       [ True, False, False,  True, False]])

In [54]:
# can also generate another array from this
g2[g2 % 2 == 0] # i.e. all evens

array([ 2.,  4.,  6.,  8., 10.])

In [55]:
# this is extended to np.where which lets you set values for True and False
np.where(g2 % 2 == 0, 'Yum', 'Yuck')

array([['Yuck', 'Yum', 'Yuck', 'Yum', 'Yuck'],
       ['Yum', 'Yuck', 'Yum', 'Yuck', 'Yum']], dtype='<U4')

In [56]:
# literally always use numpy it is way way way faster than python arrays

In [57]:
# structured arrays are the equivalent of a schema - you can have a different dtype per column
# Set this up as an array of two args tuples (three for arrays)
dt = np.dtype([('Name', 'S10'), ('Age', 'i4'), ('Height', 'f'), ('Children/Pets', 'i4', 2)])

In [58]:
dt

dtype([('Name', 'S10'), ('Age', '<i4'), ('Height', '<f4'), ('Children/Pets', '<i4', (2,))])

In [59]:
# instantiate
s = np.array([('Smith', 45, 1.83, (0,1)),
             ('Jones', 53, 1.72, (2,2))], dtype=dt)
s # kinda a lot of typing and hard to reason about in a constructor - but fine if ETL'ing

array([(b'Smith', 45, 1.83, [0, 1]), (b'Jones', 53, 1.72, [2, 2])],
      dtype=[('Name', 'S10'), ('Age', '<i4'), ('Height', '<f4'), ('Children/Pets', '<i4', (2,))])

In [60]:
s['Name'] # pandas style look ups

array([b'Smith', b'Jones'], dtype='|S10')

In [61]:
s['Age']

array([45, 53], dtype=int32)

In [62]:
s['Children/Pets']

array([[0, 1],
       [2, 2]], dtype=int32)

In [63]:
s[0]

(b'Smith', 45, 1.83, [0, 1])

In [64]:
# Column for row
s[0]['Name']

b'Smith'

In [65]:
# Vectorization - the real real power of numpy

In [66]:
np.random.seed(100)
r = np.arange(12).reshape((4,3))
s = np.arange(12).reshape((4,3)) * 0.5

In [67]:
r

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [68]:
s

array([[0. , 0.5, 1. ],
       [1.5, 2. , 2.5],
       [3. , 3.5, 4. ],
       [4.5, 5. , 5.5]])

In [69]:
r + s

array([[ 0. ,  1.5,  3. ],
       [ 4.5,  6. ,  7.5],
       [ 9. , 10.5, 12. ],
       [13.5, 15. , 16.5]])

In [70]:
# broadcasting - scalar operations without needing to match matrix shapes
s * 2

array([[ 0.,  1.,  2.],
       [ 3.,  4.,  5.],
       [ 6.,  7.,  8.],
       [ 9., 10., 11.]])

In [71]:
(r+s)/2

array([[0.  , 0.75, 1.5 ],
       [2.25, 3.  , 3.75],
       [4.5 , 5.25, 6.  ],
       [6.75, 7.5 , 8.25]])

In [72]:
# Broadcasting combines items of a different shape in one operation
# Basically vector / scalar ops on matrices
r + 3

array([[ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11],
       [12, 13, 14]])

In [73]:
2 * r # note that this is element wise

array([[ 0,  2,  4],
       [ 6,  8, 10],
       [12, 14, 16],
       [18, 20, 22]])

In [74]:
2 * r + 3 # normal order of operations (2 + x) + 3

array([[ 3,  5,  7],
       [ 9, 11, 13],
       [15, 17, 19],
       [21, 23, 25]])

In [75]:
r

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [76]:
r.shape

(4, 3)

In [77]:
s = np.arange(0, 12, 4) # begin, end, skip
s

array([0, 4, 8])

In [78]:
r + s

array([[ 0,  5, 10],
       [ 3,  8, 13],
       [ 6, 11, 16],
       [ 9, 14, 19]])

In [79]:
s = np.arange(0, 12, 3)
s # now shapes don't match

array([0, 3, 6, 9])

In [80]:
r.transpose() + s # take T to make shapes match

array([[ 0,  6, 12, 18],
       [ 1,  7, 13, 19],
       [ 2,  8, 14, 20]])

In [81]:
sr = s.reshape(-1, 1) # reshape to first column (-1 is first from beginning, 1 is column axis)
sr

array([[0],
       [3],
       [6],
       [9]])

In [82]:
sr.shape

(4, 1)

In [83]:
r + s.reshape(-1, 1)

array([[ 0,  1,  2],
       [ 6,  7,  8],
       [12, 13, 14],
       [18, 19, 20]])

In [84]:
# functions can be defined and passed to ndarrays
def f(x):
    return 3 * x + 5

In [85]:
f(0.5)

6.5

In [86]:
f(r)

array([[ 5,  8, 11],
       [14, 17, 20],
       [23, 26, 29],
       [32, 35, 38]])